:root {
    --text-color: #fff;
    --background-color: #25111c;
    --primary-color: #ff32a6;
    --secondary-color: #fdeeed;
    --accent-color: #3ec2d4;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: monospace;
}

.blog-post {
    min-width: 200px;
    max-width: 700px;

    min-height: 20px;
    max-height: 500px;
}

.full-width {
    min-width: 100%;
}

.container {
    width:  fit-content;

    transition: 0.2s;
    background-color: rgba(255, 50, 166, 0.2);

    border: 1px solid rgba(255, 50, 166, 0.4);
    border-radius: 10px;

    padding: 5px;
}

.container:hover {
    transition: 0.2s;
    background-color: rgba(255, 50, 166, 0.4);
}

.center {
    text-align: center;

    justify-content: center;
    align-items: center;
}

.center-items {
    display: flex;

    /* make a grid layout with 2 columns per row */
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.textbox {
    background-color: rgba(255, 50, 166, 0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    margin-top: 10px;

    border-top: 1px solid white;
    border-bottom: 1px solid white;

    /* play open animation */
    animation: open 1s;
}

a {
    color: var(--accent-color);
}

nav {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.5em;

    line-height: 40px;
}

nav ul {
    list-style: none;
}

nav a {
    transition: 0.2s;
    color: var(--text-color);
    text-decoration: none;
    transform: scale(1);

    padding: 5px;
    border-radius: 10px;
}

nav a:hover {
    transition: 0.3s;
    color: var(--accent-color);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}