body {
    background-image: url("/assets/img/background-01.png");
    background-color: #aaa;
    background-blend-mode: multiply;
    background-size: auto;

    image-rendering: pixelated;
    
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: white;

    text-shadow: 0px 0px 10px purple;

    margin: 0px;
}

a {
    text-decoration: underline;
    color: #c4b4ff;
}

a:hover {
    color: #dbd1ff;
}

hr {
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.pad-5px {
    padding: 5px;
}

.centered {
    margin: 10px;
    text-align: center;
    
    display: flex;
    justify-content: center;
}

.button-01 {
    /* style="padding: 10px 20px 10px 20px; background-color: purple; color: white; border: none; box-shadow: 0px 0px 10px purple;" */
    padding: 10px 20px 10px 20px;
    border: none;

    background-image: linear-gradient(#d218d2, #3b0b3b);
    color: white;

    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

    cursor: pointer;
}

.button-01:hover {
    transition: 300ms ease-in-out;
    transform: scale(1.1);
}

.button-02 {
    padding: 10px 20px 10px 20px;
    border: none;

    background-color: red;
    color: white;

    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.button-02:hover {
    animation: wobble 500ms infinite;
}

.grid-container {
    display: inline-flexbox;
}

.spacer {
    min-height: 20px;
    max-height: 20px;
}

@keyframes marquee-movement {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-50%); }
}
@keyframes wobble {
    0% { rotate: 0deg; }
    25% { rotate: 5deg; }
    75% { rotate: -5deg;}
    100% { rotate: 0deg; }
}